html,
body {
    margin: 0;
    padding: 0;
}

#field {
    width: 80%;
    float: left;
}

#line {
    height: 18px;
    margin: 1px;
    background-color: green;
}

.draggable {
    cursor: pointer;
    width: 100px;
    height: 100px;

    float: left;
}